<ion-header >
  <ion-toolbar color="success">
    <ion-title>Bocana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <img alt="Silhouette of mountains" src="assets/images/labocana.jpg" />
    <ion-card-header>
      <ion-card-title>La bocana</ion-card-title>
      <ion-card-subtitle>sitio economico</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      La Bocana atrae las ballenas jorobadas en época de apareamiento por sus aguas cálidas. Bazan Bocana playas tranquilas y servicio de hospedaje y alimentación. Una de las atracciones del lugar es el sendero ecológico interpretativo con corrientes de agua y rutas de otros elementos de variada simpatía. Con servicio de hospedaje y una gastronomía típica de la región.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="play-back"></ion-icon>
      <ion-label>Atras</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
