<ion-header>
  <ion-toolbar color="success">
    <ion-title>barra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <img alt="Silhouette of mountains" src="assets/images/barra.jpg" />
    <ion-card-header>
      <ion-card-title>La barra</ion-card-title>
      <ion-card-subtitle>Sitio moderado</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Playa La Barra está muy cerca de Juanchaco y Ladrilleros, se encuentra esta comunidad de pescadores; a la que se tiene acceso solo caminando(o en moto-bicicleta) hacia el norte desde Ladrilleros durante un poco menos de dos kilómetros. Durante esta caminata te encontrarás con playas vírgenes y bellos paisajes.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="play-back"></ion-icon>
      <ion-label>Atras</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
