<ion-header>
  <ion-toolbar>
    <ion-title>juancha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <img alt="Silhouette of mountains" src="assets/images/juan.jpg" />
    <ion-card-header>
      <ion-card-title>Juanchaco y ladrilleros</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Playas de Juanchaco y Ladrilleros en el Pacífico de Colombia se localiza a 1 hora 30 minutos en lancha desde Buenaventura se encuentran al norte de Bahía Malaga, en el departamento del Valle del Cauca, dos destinos enmarcados por la espesura de la selva y el azul profundo del Océano Pacifico. Son lugares habitados por pescadores que han crecido escuchando los sonidos cadenciosos de la marimba y el tambor, los cuales hacen parte de la alegría propia de su raza.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="play-back"></ion-icon>
      <ion-label>Atras</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
