<ion-header>
  <ion-toolbar color="success">
    <ion-title>Sitios Turísticos de Tura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <img alt="Silhouette of mountains" src="assets/images/labocana.jpg" />
    <ion-card-header>
      <ion-card-title>La bocana</ion-card-title>
    </ion-card-header>
    <ion-button expand="block" routerLink="/bocana">Mas detalles</ion-button>
  </ion-card>

  <ion-card color="light">
    <img alt="Silhouette of mountains" src="assets/images/pian.jpg" />
    <ion-card-header>
      <ion-card-title>Playa de Piangüita</ion-card-title>
    </ion-card-header>
    <ion-button expand="block" routerLink="/pianguita">Mas detalles</ion-button>
  </ion-card>

  <ion-card color="light">
    <img alt="Silhouette of mountains" src="assets/images/barra.jpg" />
    <ion-card-header>
      <ion-card-title>La barra</ion-card-title>
    </ion-card-header>
    <ion-button expand="block" routerLink="/barra">Mas detalles</ion-button>
  </ion-card>

  <ion-card color="light">
    <img alt="Silhouette of mountains" src="assets/images/juan.jpg" />
    <ion-card-header>
      <ion-card-title>Juanchaco y ladrilleros</ion-card-title>
    </ion-card-header>
    <ion-button expand="block" routerLink="/juancha">Mas detalles</ion-button>
  </ion-card>

 

</ion-content>


