<ion-header>
  <ion-toolbar color="success">
    <ion-title>pianguita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="light">
    <img alt="Silhouette of mountains" src="assets/images/pian.jpg" />
    <ion-card-header>
      <ion-card-title>Playa de Piangüita</ion-card-title>
      <ion-card-subtitle>sitio meoderado</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
Pianguita, destino turístico cercano a la Bocana (5 minutos). playa de aproximadamente de 500 metros de longitud, en su mayoría es zona de hoteles en pianguita y cabañas turisticas. De vegetación selvática y de arena oscura, por lo tanto el agua se torna oscura. No hay muelle, pero el desembarque no es peligroso, porque no es de mar profundo.
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="play-back"></ion-icon>
      <ion-label>Atras</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
